npm
node
chocolatey
wget
pwsh - Powershell (no not windows powershell)
prettier
stylua - @johnnymorganz/stylua-bin
***REMOVE - pyscript and black or anything related to python
git
nerd fonts
windows terminal
rigrep - through chocolatey
scoop
zig
lazygit
cmake - direct install then add to PATH the bin folder, or maybe install it through chocolatey?
typescript typescript-language-server
enable transparent 
(https://zimmergren.net/enable-transparent-background-in-windows-terminal/)
eslint through npm global


Ubuntu:

1. nvm
2. git
3. neovim - make this updated or more than v7
4. git clone https://github.com/GabrielZeusReyes/Neovim-Config.git ~/.config/nvim
5. fix the winbar in optioons
6. install ripgrep https://github.com/BurntSushi/ripgrep#installation
7. sudo apt install build-essential
8. Install unzip
9. sed
